.reset-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: url('../assets/bettas.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-resets {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-resets h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-resets .input-boxs {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-boxs input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-boxs input::placeholder {
  color: #fff;
}

.input-boxs label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent;
  padding: 0 4px;
}

.input-boxs input:focus ~ label,
.input-boxs input:valid ~ label {
  top: -14px;
  left: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  background: transparent !important;
  padding: 0 4px;
}

.wrapper-resets button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 15px;
}

.wrapper-resets .info-text {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.wrapper-resets .info-text a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.wrapper-resets .info-text a:hover {
  text-decoration: underline;
}
