body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./componentes/assets/acuario_login.png') no-repeat;
  background-size: cover;
  background-position: center;
}